dist: trusty

sudo: required

addons:
  chrome: stable

language: node_js

node_js:
  - "node"

cache:
  directories:
    - node_modules

before_script:
  - npm run lint

before_deploy:
  - npm run e2e

deploy:
  skip_cleanup: true
  provider: firebase
  token:
    secure: "Cz7tKkaHXzuvl1yBM2+LZ1zO1Qgzyz7oIfCCJUeyt2PSM3pdoXJ2Pddxmt3pgbyA+zniZLd82+79HzkFJPMacO+t5089Xj3eQEtqajwV/IfestsFvgLPvSkeZKqbs3XIkFMCVowmbcYjDPFwJJmpi9zabbuHhnZUjNEKK7MvynooM7KgMN7SRqWpEjfd2JGbAwS55jQphEXvwJ7G0K6/0AaUsdt//Ed7jU0fk9k8kwtsx3E0g7geGBu8n4uYlmUhVmgFRgUXIAm8K+oz1Gtzd3ChcEBQAH7TWeD/LT0xGQMwAWGT0hb1w7t0nnGhOQmpD1f8zNKCKWeXUXZ9tk+fiWdBNjd9ikMOO5LWuv5DuHWJ2xZzdV9P6ooCGuS5gMr4HBBi1PLbhUypyXJ2Vk8vD+TkBdSDBkLidHNMC90xc4qWzBz1Ys+9xD1RKFyRzuf2L5YYUnI+02+Fft1BuzGiXTZTmaKftVDjVh46NwJ17LSuwmHdsP8yWDGR/cPg2+J7MiB3QuUrsFzhV8ZeVTC1+EcKaXmoXXxKZiv98w0EuAd90uDETLFC9nNoG8zsGgHGdH7P5tEBSfq1cN8WiIixDAAxAmr4XncNjUVYFekmmNnkFsHiU6XMljPI7WDWMzsmV1QqWiLJmWPeQMO59YIugphcPBzXuu9AUMb8CWoe6ec="
  on:
    branch: develop
    project: "staging"