<article class="col-md-12">
    <section class="row">
        <div class="col-md-2 col-md-offset-1">
            <div class="row">
                <p>You can send me a email directly for:</p>
                <p>marcosauda@outlook.com</p>
            </div>
            <hr></hr>
            <div class="row center-block">
                <p>Or contact me in my social medias:</p>
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" href="https://www.facebook.com/Marcosvrs" target="_blank" role="button"><img class="icon" src="img/facebook.png" alt="Facebook"></a>
                    <a class="btn btn-default" href="https://www.linkedin.com/in/marcosvrs/" target="_blank" role="button"><img class="icon" src="img/linkedin.png" alt="Linkedin"></a>
                    <a class="btn btn-default" href="https://www.xing.com/profile/MarcosVinicius_Rubido" target="_blank" role="button"><img class="icon" src="img/xing.png" alt="Xing"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <form name="contact.contactForm" ng-submit="contact.submit()">
                <fieldset>
                    <legend>Contact me!</legend>
                    <div class="form-group" ng-class="{'has-error': contactForm.contactName.$touched && contactForm.contactName.$invalid, 'has-success': contactForm.contactName.$touched && contactForm.contactName.$valid}">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" placeholder="Marcos Vinícius" name="contactName" id="name" ng-model="contact.name" ng-change="contact.createMessage()"
                            autofocus required></input>
                    </div>
                    <div class="form-group" ng-class="{'has-error': contactForm.contactEmail.$touched && contactForm.contactEmail.$invalid, 'has-success': contactForm.contactEmail.$touched && contactForm.contactEmail.$valid}">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="example@example.com" name="contactEmail" id="email" ng-model="contact.email" ng-change="contact.createMessage()"
                            required></input>
                    </div>
                    <div class="form-group" ng-class="{'has-error': contactForm.contactMessage.$touched && contactForm.contactMessage.$invalid, 'has-success': contactForm.contactMessage.$touched && contactForm.contactMessage.$valid}">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="5" name="contactMessage" id="message" ng-model="contact.message" required></textarea>
                    </div>
                </fieldset>
                <input type="submit" class="btn btn-default" ng-disabled="contact.contactForm.$pristine || contact.contactForm.$invalid"></input>
            </form>
        </div>
    </section>
</article>