<ul class="navbar-nav footer">
    <li>
        <a href="mailto:marcosauda@outlook.com" target="_blank"><img class="icon" src="img/mail.png" alt="Mail"></a>
    </li>
    <li>
        <a href="https://www.facebook.com/Marcosvrs" target="_blank"><img class="icon" src="img/facebook.png" alt="Facebook"></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/marcosvrs/" target="_blank"><img class="icon" src="img/linkedin.png" alt="Linkedin"></a>
    </li>
    <li>
        <a href="https://www.xing.com/profile/MarcosVinicius_Rubido" target="_blank"><img class="icon" src="img/xing.png" alt="Xing"></a>
    </li>
</ul>