@import 'src/variables';
.typewriter {
    background: $code-bg;
}

#typewriter {
    height: 14.5rem;
    background: $code-bg;
    &:after {
        content: "|";
        animation: blink 1s step-start 0s infinite;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.profile {
    padding: 3vw;
}

figure>figcaption {
    display: none;
}

.tab {
    padding-left: 1rem;
}