@import 'src/variables';
.typewriter {
    margin-top: -1.5rem;
    background: #F0F0F0;
}

#typewriter {
    height: 14.5rem;
    &:after {
        content: "|";
        animation: blink 1s step-start 0s infinite;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.profile {
    padding: 3vw;
}

figure>figcaption {
    display: none;
}