<article class="row justify-content-center align-items-center">
  <div class="col">
    <section class="row justify-content-center align-items-center typewriter">
      <div class="col-md-8 col-lg-6">
        <pre><code id="typewriter" class="hljs javascript"><span class="hljs-keyword">let</span> me = &#123;
            <span class="hljs-attribute">name:</span> <span class="hljs-string">'Marcos Vinícius Rubido'</span>,
            <span class="hljs-attribute">type:</span> <span class="hljs-string" i18n>'Computer Engineer'</span>,
            <span class="hljs-attribute">properties:</span> [
              <span class="hljs-string">'Javascript'</span>,
              <span class="hljs-string">'CSS'</span>,
              <span class="hljs-string">'HTML'</span>,
              <span class="hljs-string">'PHP'</span>
            ]
          &#125;;;</code></pre>
      </div>
    </section>
    <section class="row align-items-center">
      <div class="col-md-4">
        <figure>
          <picture>
            <img class="img-fluid rounded profile" src="assets/perfil.png" alt="Profile Picture" appLoader i18n-alt>
          </picture>
          <figcaption i18n>Profile Picture</figcaption>
        </figure>
      </div>
      <div class="col-md-8" i18n>
        <h2>class Developer extends Engineer {{ '{' }}</h2>
        <br>
        <p class="tab">As a Computer Engineer, I have studied Physics, Calculus, Computer Architecture, Network Infrastructure...
          <br> But what makes me love the Computer world is the Computer Programming.</p>
        <p class="tab">At my time at the
          <a href="https://unisanta.br" (click)="onClick('About', 'Click', 'Link', 'Unisanta')" target="_blank">University</a>, I collaborated in an international project called
          <a href="http://butterflysrl.com/" (click)="onClick('About', 'Click', 'Link', 'Butterfly')" target="_blank">Butterfly</a> that became my Term paper at the end of the course.
        </p>
        <p class="tab">After 5 years working at
          <a href="http://www.rodrimar.com.br/" (click)="onClick('About', 'Click', 'Link', 'Rodrimar')" target="_blank">Rodrimar</a>, I had 3 different positions: IT-Internship, Technical Support Analyst and System Analyst. During
          my time in there I was able to gaining a wide knowledge that I consider decisive.</p>
        <p class="tab">At this moment, I'm based in Hamburg learning German and working at
          <a href="https://tom-tailor.de">Tom Tailor</a> as a Internship Software Engineer on the complete new eCommerce Plataform, incrementing my working experience
          in another country.</p>
          <h2>{{ '}' }}</h2>
      </div>
    </section>
  </div>
</article>