<div class="modal-backdrop" (click)="onHideModalClick()"></div>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Testimonial</h5>
      <button type="button" class="close" aria-label="Close" (click)="onHideModalClick()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="onSubmit(testimonialForm.value)" #testimonialForm="ngForm">
      <fieldset>
        <legend class="text-center" i18n>Public a Testimonial</legend>
        <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" aria-label="Close" (click)="error = false">
              <span aria-hidden="true">&times;</span>
            </button>
          <span i18n><strong>An error occurred!</strong> Please try again.</span>
        </div>
        <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" aria-label="Close" (click)="success = false">
              <span aria-hidden="true">&times;</span>
            </button>
          <span i18n><strong>Your message was sent!</strong> Thanks for contacting me.</span>
        </div>
        <button class="btn" [ngClass]="{'btn-primary': !linkedinLogin, 'btn-success': linkedinLogin}" (click)="onLinkedinLogin()">Login on LinkedIn <i *ngIf="linkedinLogin" class="fa fa-check" aria-hidden="true"></i></button>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" id="name" name="name" required ngModel #contactName="ngModel"
            disabled>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="message" i18n>Message</label>
          <textarea class="form-control" [bsFormControl]="contactMessage" rows="6" id="message" name="message" required ngModel #contactMessage="ngModel"></textarea>
        </div>
      </fieldset>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!testimonialForm.valid" i18n>Add <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-secondary" (click)="onhideModalClick()">Cancel</button>
      </div>
    </form>
  </div>
</div>