<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" [ngClass]="{'collapsed' : !collapsed}" type="button" aria-label="Toggle navigation"
    (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<a class="navbar-brand" href="#">
    <img src="/assets/brand-icon.png" height="30" alt="Brand Icon">
  </a>-->

  <div class="collapse navbar-collapse justify-content-center" [ngClass]="{'show' : collapsed}" id='collapsenav'>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="" (click)="collapsed = false" i18n>Home</a>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/testimonials" (click)="collapsed = false" i18n>Testimonials</a>
      </li>-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/resume" (click)="collapsed = false" i18n>Resume</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about" (click)="collapsed = false" i18n>About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact" (click)="collapsed = false" i18n>Contact</a>
      </li>
    </ul>
  </div>
</nav>