@import '~_variables.scss';
@import '~bootstrap/scss/_variables.scss';
#code {
    margin-top: -24px;
}

.board {
    padding: 10px;
    &:hover,
    &:focus {
        background: $gray-lighter;
        &>div>hr {
            border-color: $gray-dark;
        }
    }
}

.background-img {
    background: no-repeat fixed center;
    background-size: cover;
    min-height: 50vh;
}

#code {
    background-image: url('/assets/code.jpg');
}

#phone {
    background-image: url('/assets/phone.jpg');
}

#tablet {
    background-image: url('/assets/tablet.jpg');
}