<article class="row justify-content-start">
  <div class="col">
    <div id="code" class="background-img"></div>
    <section class="row align-items-start board">
      <div class="col-md-3">
        <h3 class="text-right" i18n>TECHNOLOGIES</h3>
      </div>
      <div class="col-md-3" i18n>
        <h4>Comfortable with</h4>
        <ul>
          <li>Web Development
            <ul>
              <li>HTML[5] / CSS[3]</li>
              <li>LESS / SCSS (SASS)</li>
              <li>Bootstrap Framework (v3)</li>
              <li>Responsive Layout and Design</li>
              <li>PHP</li>
              <li>Email Marketing
                <ul>
                  <li>Foundation</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>Desktop Development
            <ul>
              <li>C# (.NET)</li>
            </ul>
          </li>
          <li>Database
            <ul>
              <li>MySQL</li>
            </ul>
          </li>
          <li>Version Control (GIT)</li>
        </ul>
      </div>
      <div class="col-md-3" i18n>
        <h4>Experienced in</h4>
        <ul>
          <li>Web Development
            <ul>
              <li>MDL Framework</li>
              <li>Javascript</li>
              <li>jQuery</li>
              <li>ASP.NET</li>
            </ul>
          </li>
          <li>Desktop Development
            <ul>
              <li>Java</li>
              <li>C++</li>
            </ul>
          </li>
          <li>Database
            <ul>
              <li>Oracle</li>
            </ul>
          </li>
          <li>Others
            <ul>
              <li>Objective C (Arduino)</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3" i18n>
        <h4>Learning</h4>
        <ul>
          <li>Frontend Development
            <ul>
              <li>Typescript</li>
              <li>Angular (4)</li>
              <li>Bootstrap Framework (v4)</li>
            </ul>
          </li>
          <li>Database
            <ul>
              <li>NoSQL</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <div id="phone" class="background-img"></div>
    <section class="row align-items-start board">
      <div class="col-md-4">
        <h3 class="text-right" i18n>WORK EXPERIENCE</h3>
      </div>
      <div class="col-md-8">
        <div class="row align-items-start">
          <div class="col" i18n>
            <h4>System Analyst <small>Rodrimar Port Terminals</small></h4>
            <p>July, 2015 - December, 2016</p>
            <ul>
              <li>Support for ERP TOTVS Logix System for Human Resources, Logistic, Finance and Accounting processes;</li>
              <li>Sharepoint Server and Reporting Services Management;</li>
              <li>Linux and Windows Server Management for Applications;</li>
              <li>Oracle and MySQL Database Supervisor;</li>
              <li>Auxiliary systems Development (PHP [Web] and Java [Desktop]);</li>
              <li>Managing and Developing E-mail marketing with Foundation Framework;</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row align-items-start">
          <div class="col" i18n>
            <h4>C# for WEB (ASP.NET) Developer <small>Free Lancer</small></h4>
            <p>January, 2016 - July, 2016</p>
            <ul>
              <li>Developer for web project in ASP.NET (jQuery, HTML) and C# for Web;</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row align-items-start">
          <div class="col" i18n>
            <h4>Technical Support Analyst <small>Rodrimar Port Terminals</small></h4>
            <p>February, 2014 - July, 2015</p>
            <ul>
              <li>Network and Infrastructure projects Supervisor;</li>
              <li>Ruckus Wireless system administrator;</li>
              <li>Windows and Digifort (IP Surveillance System) servers administrator;</li>
              <li>Contracts Supervisor for IT Infrastructure, CCTV and LPR/OCR Maintenance;</li>
              <li>Help Desk;</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row align-items-start">
          <div class="col" i18n>
            <h4>Intern <small>Rodrimar Port Terminals</small></h4>
            <p>February, 2012 - February, 2014</p>
            <ul>
              <li>Help Desk Monitoring;</li>
              <li>Monitoring the Network, Desktop and Devices Support;</li>
              <li>Monitoring the management of IT contracts;</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div id="tablet" class="background-img"></div>
    <section class="row align-items-start board">
      <div class="col-md-4">
        <h3 class="text-right" i18n>EDUCATION</h3>
      </div>
      <div class="col-md-8" i18n>
        <h4>COMPUTER ENGINEERING GRADUATION <small class="subtitle">Santa Cecília University - Santos, SP, Brazil</small></h4>
        <p>February, 2011 - December, 2015</p>
        <ul>
          <li>C++; C# (.NET) for Desktop; Objective C (Arduino);</li>
          <li>Knowledge about Digital Communication, Electronic Components (Integrated Circuits), Network Infrastructure, Automation,
            Computer Architecture;</li>
        </ul>
      </div>
    </section>
  </div>
</article>