@import 'src/variables';
#code {
    margin-top: -1.5rem;
}

#technologies {
    word-break: break-all;
}

.board {
    padding: 1rem;
    &:hover,
    &:focus {
        background: $gray-lighter;
        &>div>hr {
            border-color: $gray-dark;
        }
    }
}

.background-img {
    background: no-repeat fixed center;
    background-size: cover;
    height: 50vh;
}

#code {
    background-image: url('/assets/code.jpg');
}

#phone {
    background-image: url('/assets/phone.jpg');
}

#tablet {
    background-image: url('/assets/tablet.jpg');
}