<article class="row">
  <div class="col">
    <div id="code" class="background-img" appLoader></div>
    <section class="row board">
      <div class="col-md-3">
        <h3 id="technologies" class="text-right" i18n>TECHNOLOGIES</h3>
      </div>
      <div class="col-md-3" i18n>
        <h4>Comfortable with</h4>
        <ul>
          <li>Frontend Web Development
            <ul>
              <li>HTML[5]</li>
              <li>Twig Template</li>
              <li>CSS[3] / LESS / SCSS (SASS)</li>
              <li>Bootstrap Framework</li>
              <li>Responsive Layout and Design</li>
              <li>Atomic Design & BEM</li>
              <li>Javascript (ES6)</li>
              <li>jQuery</li>
            </ul>
          </li>
          <li>
            <abbr title="Version Control">Git</abbr>,
            <abbr title="Package manager for JavaScript">npm</abbr>,
            <abbr title="Building Tool">webpack</abbr>
          </li>
        </ul>
      </div>
      <div class="col-md-3" i18n>
        <h4>Experienced in</h4>
        <ul>
          <li>Front Web Development
            <ul>
              <li>ASP.NET</li>
              <li>MDL Framework</li>
              <li>Foundation for Emails Framework</li>
            </ul>
          </li>
          <li>Spryker Commerce OS</li>
          <li>Desktop Development
            <ul>
              <li>Java</li>
              <li>C#</li>
            </ul>
          </li>
          <li>Database
            <ul>
              <li>Oracle</li>
              <li>MySQL</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3" i18n>
        <h4>Insight</h4>
        <ul>
          <li>Frontend Web Development
            <ul>
              <li>Typescript</li>
              <li>Angular (v4)</li>
              <li>Node.js</li>
              <li>RESTful API</li>
            </ul>
          </li>
          <li>Backend Web Development
            <ul>
              <li>PHP</li>
              <li>C#</li>
            </ul>
          </li>
          <li>A/B Testing</li>
          <li>QA Engineering
            <ul>
              <li>Selenium</li>
              <li>Mochajs</li>
            </ul>
          </li>
          <li>Database
            <ul>
              <li>NoSQL</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <div id="phone" class="background-img" appLoader></div>
    <section class="row board">
      <div class="col-md-4">
        <h3 class="text-right" i18n>WORK EXPERIENCE</h3>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col" i18n>
            <h4>Specialist Software Engineer Web Development
              <small>
                <a href="https://www.tom-tailor-group.com" (click)="onClick('Resume', 'Click', 'Link', 'Tom Tailor')" target="_blank">Tom Tailor Group</a>
              </small>
            </h4>
            <p>January 2018 - present</p>
            <ul>
              <li>Development of the eCommerce Plataform;</li>
              <li>Spryker Commerce OS;</li>
              <li>HTML, SASS, JS and Twig Template [PHP];</li>
              <li>jQuery, Atomic Design, BEM, ES6, Git;</li>
              <li>Spryker Oryx with webpack building tool</li>
              <li>Working with Cross-functional and Agile Teams.</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col" i18n>
            <h4>Software Engineer Web Development (Praktikant)
              <small>
                <a href="https://www.tom-tailor-group.com" (click)="onClick('Resume', 'Click', 'Link', 'Tom Tailor')" target="_blank">Tom Tailor Group</a>
              </small>
            </h4>
            <p>July 2017 - January 2018</p>
            <ul>
              <li>Migration of the Content from the old webshop to the new eCommerce Plataform;</li>
              <li>Development of the eCommerce Plataform;</li>
              <li>QA Engineering (BrowserStack/Selenium/Mochajs);</li>
              <li>HTML, [S]CSS, JS and Twig Template [PHP];</li>
              <li>Spryker Commerce OS;</li>
              <li>Working with Cross-functional and Agile Teams.</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col" i18n>
            <h4>System Analyst
              <small>
                <a href="http://rodrimar.com.br/" (click)="onClick('Resume', 'Click', 'Link', 'Rodrimar')" target="_blank">Rodrimar Group</a>
              </small>
            </h4>
            <p>July 2015 - December 2016</p>
            <ul>
              <li>Support for ERP TOTVS Logix System for Human Resources, Logistic, Finance and Accounting processes;</li>
              <li>Sharepoint Server and Reporting Services Management;</li>
              <li>Linux and Windows Server Management for Applications;</li>
              <li>Oracle and MySQL Database Supervisor;</li>
              <li>Auxiliary systems Development (PHP [Web] and Java [Desktop]);</li>
              <li>Managing and Developing E-mail marketing with Foundation Framework;</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col" i18n>
            <h4>C# for WEB (ASP.NET) Developer
              <small>Freelancer</small>
            </h4>
            <p>January 2016 - July 2016</p>
            <ul>
              <li>Developer for web project in ASP.NET (jQuery, HTML) and C# for Web;</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col" i18n>
            <h4>Technical Support Analyst
              <small>
                <a href="http://rodrimar.com.br/" (click)="onClick('Resume', 'Click', 'Link', 'Rodrimar2')" target="_blank">Rodrimar Group</a>
              </small>
            </h4>
            <p>February 2014 - July 2015</p>
            <ul>
              <li>Network and Infrastructure projects Supervisor;</li>
              <li>Ruckus Wireless system administrator;</li>
              <li>Windows and Digifort (IP Surveillance System) servers administrator;</li>
              <li>Contracts Supervisor for IT Infrastructure, CCTV and LPR/OCR Maintenance;</li>
              <li>Help Desk;</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col" i18n>
            <h4>Trainee
              <small>
                <a href="http://rodrimar.com.br/" (click)="onClick('Resume', 'Click', 'Link', 'Rodrimar3')" target="_blank">Rodrimar Group</a>
              </small>
            </h4>
            <p>February 2012 - February 2014</p>
            <ul>
              <li>Help Desk Monitoring;</li>
              <li>Monitoring the Network, Desktop and Devices Support;</li>
              <li>Monitoring the management of IT contracts;</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div id="tablet" class="background-img" appLoader></div>
    <section class="row board">
      <div class="col-md-4">
        <h3 class="text-right" i18n>EDUCATION</h3>
      </div>
      <div class="col-md-8" i18n>
        <h4>COMPUTER ENGINEERING
          <small class="subtitle">
            <a href="http://unisanta.br/" (click)="onClick('Resume', 'Click', 'Link', 'Unisanta')" target="_blank">Santa Cecília University - Santos, SP, Brazil</a>
          </small>
        </h4>
        <p>February 2011 - December 2015</p>
        <ul>
          <li>
            <a href="http://anabin.kmk.org/no_cache/filter/institutionen.html" (click)="onClick('Resume', 'Click', 'Link', 'anabin')"
              target="_blank" title="H+ bedeutet, dass die betreffende Institution in ihrem Sitzland als Hochschule anerkannt ist und auch in Deutschland als Hochschulinstitution betrachtet wird.">ANABIN Status: H+</a>
            <sup>
              <abbr title="H+ means that the institution in question is recognized as a university in the country of its own and is also regarded as a higher education institution in Germany.">[1]</abbr>
            </sup>
          </li>
          <li>C++; C# (.NET) for Desktop; Objective C (Arduino);</li>
          <li>Knowledge about Digital Communication, Electronic Components (Integrated Circuits), Network Infrastructure, Automation,
            Computer Architecture;</li>
        </ul>
      </div>
    </section>
  </div>
</article>