<article class="container-home">
    <picture>
        <source media="(min-width: 768px)" data-srcset="/assets/home_Background_768x547@2x.jpg">
        <source media="(min-width: 992px)" data-srcset="/assets/home_Background_992x707@2x.jpg">
        <source media="(min-width: 1200px)" data-srcset="/assets/home_Background_1213x864@2x.jpg">
        <img class="img-fluid lazyload" data-src="/assets/home_Background_576x290@2x.jpg">
    </picture>
    <div class="row align-items-center wrap-text">
        <div class="col text-center background-text" routerLink="/about">
            <h1 class="font-weight-bold font-title">Marcos Vinícius Rubido</h1>
            <p i18n>class Developer extends Engineer {{ '{' }} ... {{ '}' }}</p>
        </div>
    </div>
</article>