<article class="row align-items-center">
  <div class="col">
    <section class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <p class="lead text-center" i18n>Hi, my name is Marcos Vinícius!</p>
      </div>
    </section>
    <section class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <p class="lead text-center" i18n>You can get to know me by browsing my website.</p>
      </div>
    </section>
    <section class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <p class="lead text-center" i18n>Fell free to <a routerLink="/contact">contact</a> me and give me feedback.</p>
      </div>
    </section>
  </div>
</article>