@import 'src/variables';
.background-image {
    margin-top: -1.5rem;
    height: 78vh;
    background: url('/assets/background.jpg') no-repeat center;
    background-size: cover;
}

.background-text {
    padding: 0.5rem 0 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.font-title {
    color: $gray;
    font-family: 'Slabo 27px', serif;
}