@import 'src/variables';
.background-image {
    background-size: cover;
    height: 100vh;
    
    // Extra small devices (portrait phones, less than 576px)
    background: url('/assets/home_Background_576x409@2x.jpg') no-repeat center;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        background-image: url('/assets/home_Background_768x546@2x.jpg');
     }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        background-image: url('/assets/home_Background_992x706@2x.jpg');
     }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        background-image: url('/assets/home_Background_1200x854@2x.jpg');
     }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        background-image: url('/assets/home_Background_1213x864@2x.jpg');
     }
}

.background-text {
    padding: 0.5rem 0;
    background-color: rgba(color("white"), 0.5);
}

.font-title {
    color: color("gray-dark");
    font-family: 'Slabo 27px', serif;
}