<app-navbar></app-navbar>
<div *ngIf="error" class="row">
    <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-4">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" aria-label="Close" (click)="error = false">
              <span aria-hidden="true">&times;</span>
            </button>
            <span><strong i18n>An error occurred!</strong> {{ errorText }}</span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>