<article class="col-12">
  <section class="row">
    <div class="col-2 col-offset-1">
      <div class="row">
        <div class="col">
          <p>You can send me a email directly for:</p>
          <p>marcosauda@outlook.com</p>
        </div>
      </div>
      <hr>
      <div class="row center-block">
        <div class="col">
          <p>Or contact me in my social medias:</p>
          <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default" href="https://www.facebook.com/Marcosvrs" target="_blank" role="button"><img class="icon" src="assets/facebook.png" alt="Facebook"></a>
            <a class="btn btn-default" href="https://www.linkedin.com/in/marcosvrs/" target="_blank" role="button"><img class="icon" src="assets/linkedin.png" alt="Linkedin"></a>
            <a class="btn btn-default" href="https://www.xing.com/profile/MarcosVinicius_Rubido" target="_blank" role="button"><img class="icon" src="assets/xing.png" alt="Xing"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 col-offset-1">
      <form>
        <fieldset>
          <legend>Contact me!</legend>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Marcos Vinícius" name="contactName" id="name" autofocus required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="example@example.com" name="contactEmail" id="email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" rows="5" name="contactMessage" id="message" required></textarea>
          </div>
        </fieldset>
        <input type="submit" class="btn btn-default">
      </form>
    </div>
  </section>
</article>