<article class="row">
  <div class="col">
    <section class="row video-coding">
      <div class="col">
        <video class="video center-block" autoplay loop>
          <source src="assets/coding.webm" type="video/webm">
        </video>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="col">
        <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <figure>
                <img class="media-object img-perfil" src="assets/perfil.png" alt="Foto de Perfil">
                <figcaption>Foto de Perfil</figcaption>
              </figure>
            </a>
          </div>
          <div class="media-body">
            <p>I am a Brazilian graduated Computer Engineer. I love <a href="https://github.com/marcosvrs/" target="_blank">coding</a>,
              playing guitar and Germany. I also LOVE coffee. I knew my vocation since I was 14 years old.</p>
            <p>At my time at the <a href="http://unisanta.br/" target="_blank">University</a>, I collaborated in a international
              project called
              <a href="http://butterflysrl.com/" target="_blank">Butterfly</a> that became my Term paper at the end of the
              course.
            </p>
            <p>After 5 years working at <a href="http://www.rodrimar.com.br/" target="_blank">Rodrimar</a>, I had 3 differents
              positions: IT-Internship, Technical Support Analyst and System Analyst. During my time at there I was able
              to gaining wide knowledge that I consider decisive.</p>
            <p>At this moment, I'm based at Hamburg learning German and studing to stay up to date with the lastest programing
              language and trying to increment my working experience in another country.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</article>