@import '~bootstrap/scss/variables';
//@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
$icon-size: 2rem;
$long-animation: 1s ease-out;
$default-animation: 0.3s ease-out;
$brand-primary: $gray-dark; //not working (?)