<footer class="footer">
    <div class="container-fluid">
        <a href="https://github.com/marcosvrs/marcosvrs.github.io" target="_blank" (click)="onClick('GitHub Project')">View Code</a>
    </div>
    <ul>
        <li>
            <a href="mailto:marcosauda@outlook.com" target="_blank" (click)="onClick('Email')"><img class="icon" src="assets/mail.png" alt="Mail"></a>
        </li>
        <li>
            <a href="https://www.facebook.com/Marcosvrs" target="_blank" (click)="onClick('Facebook')"><img class="icon" src="assets/facebook.png" alt="Facebook"></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/marcosvrs/" target="_blank" (click)="onClick('Linkedin')"><img class="icon" src="assets/linkedin.png" alt="Linkedin"></a>
        </li>
        <li>
            <a href="https://www.xing.com/profile/MarcosVinicius_Rubido" target="_blank" (click)="onClick('Xing')"><img class="icon" src="assets/xing.png" alt="Xing"></a>
        </li>
    </ul>
</footer>