<footer class="footer">
    <div class="container-fluid">
        <a href="https://github.com/marcosvrs/marcosvrs.github.io/tree/develop" target="_blank" (click)="onClick('GitHub Project')" i18n>View Code</a>
    </div>
    <ul>
        <li>
            <a href="mailto:marcosauda@outlook.com" target="_blank" (click)="onClick('Email')"><img class="icon" src="assets/mail.png" alt="Email" i18n-alt></a>
        </li>
        <li>
            <a href="https://www.facebook.com/Marcosvrs" target="_blank" (click)="onClick('Facebook')"><img class="icon" src="assets/facebook.png" alt="Facebook"></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/marcosvrs/" target="_blank" (click)="onClick('LinkedIn')"><img class="icon" src="assets/linkedin.png" alt="LinkedIn"></a>
        </li>
        <li>
            <a href="https://www.xing.com/profile/MarcosVinicius_Rubido" target="_blank" (click)="onClick('Xing')"><img class="icon" src="assets/xing.png" alt="Xing"></a>
        </li>
    </ul>
</footer>