<footer class="footer">
    <div class="container-fluid">
        <a href="https://github.com/marcosvrs/marcosvrs.github.io" target="_blank" (click)="onClick('Footer', 'Click', 'GitHubLink')"
            i18n>View Code</a>
    </div>
    <ul>
        <li>
            <a href="mailto:me@marcosvrs.com?subject=Website Contact from Direct Link" target="_blank" (click)="onClick('Footer', 'Click', 'EmailButton')"><img class="icon" src="assets/mail.png" alt="Email" i18n-alt></a>
        </li>
        <li>
            <a href="https://www.facebook.com/marcosvrs" target="_blank" (click)="onClick('Footer', 'Click', 'FacebookButton')"><img class="icon" src="assets/facebook.png" alt="Facebook"></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/marcosvrs" target="_blank" (click)="onClick('Footer', 'Click', 'LinkedInButton')"><img class="icon" src="assets/linkedin.png" alt="LinkedIn"></a>
        </li>
        <li>
            <a href="https://www.xing.com/profile/marcosvinicius_rubido" target="_blank" (click)="onClick('Footer', 'Click', 'XingButton')"><img class="icon" src="assets/xing.png" alt="Xing"></a>
        </li>
    </ul>
</footer>