@import 'src/variables';
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 4rem;
    line-height: 4rem;
    /* Vertically center the text there */
    background-color: gray("200");
    >ul {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: $zindex-fixed;
        list-style: none;
        margin-bottom: 0.25rem;
        line-height: 1.5;
        >li {
            float: left;
            margin-right: $icon-size/2;
            &:hover,
            &:focus {
                .icon {
                    transform: translate(0, -50%) scale(1.75);
                    opacity: 1;
                }
            }
            .icon {
                transition: $default-animation;
                opacity: 0.5;
            }
        }
    }
}